.slider {
    width: 2179px;
    margin: auto;
    overflow: visible;
}
.slider ul {
    display: flex;
    padding: 0;
    animation: cambio 80s infinite linear;
}
.slider li {
    padding:0 10px;
    list-style: none;
}
.slider img {
    max-width: fit-content !important;
    height: auto !important;
}
@keyframes cambio {
    from {margin-left: 0%}
    to {margin-left: -100%}
}