* {
    margin: 0;
    padding: 0;
}

.teamHeading {
    font-family: BebasNeueRegular;
    font-size: 32px;
}

.team {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    flex-direction: column;
    /* background-color: #161623; */
    min-height: calc(100vh - 62px);
    margin: 0;
    gap: 0;
}

section {
    position: relative;
}

section::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(#f00, #f0f);
    clip-path: circle(25% at right 60%);
}

section::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(#2196f3, #e91e63);
    clip-path: circle(20% at left 10%);
}

.teamcontainer {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    gap: 5px;
}

.teamcontainer .card {
    position: relative;
    width: 260px;
    height: 400px;
    background: rgba(255, 255, 255, 0.06);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    margin: 20px;
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px) saturate(180%);
}

.teamcontainer .card .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.6;
    transition: 0.5s;
    padding: 15px;
    margin: 0;
    transform: translateY(-20px);
}

.teamcontainer .card .sci {
    position: absolute;
    padding: 0;
    bottom: 50px;
    display: flex;
}

.teamcontainer .card .sci li {
    list-style: none;
    margin: 0 10px;
    transform: translateY(0px);
    opacity: 0;
    transition: 0.5s;
    transition-delay: calc(0.05s*var(--i));
}

.teamcontainer .card:hover .sci li {
    transform: translateY(40px);
    opacity: 1;
}

.teamcontainer .card .sci li a{
    color: #02bec4;
    font-size: 28px;
}

.teamcontainer .card:hover .content {
    opacity: 1.0;
    transition: 0.5s;
}

.teamcontainer .card .contentBox h2 {
    /* color: #000; */
    /* text-transform: uppercase; */
    /* letter-spacing: 2px; */
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 0px 0 10px;
    line-height: 1.1em;
}

.teamcontainer .card .contentBox h2 span {
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}

.teamcontainer .card .content .imgBox {
    position: relative;
    width: 175px;
    width: 175px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #02bec4;
}
