// Settings for footer html in Footer (to match equadratures.org)

footer {
}

footer span {
        display: inline-block;    
        width: 100%;    
        font-size: 12px;    
}

footer div.logos{
    margin-top: 10px;
}

footer i {
    padding: 0px 10px;
    font-size: 35px;
}
